* {

    flex-direction: column;
}

.h1 {
    background-color: black;
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 50px;
    font-family: monospace;
    color: white;
    text-align: center;
}

.h2 {
    background-color: black;
    font-size: 100%;
    font-family: monospace;
    color: white;
    text-align: center;
}

.div {
    width: 15rem;
    height: 25rem;
    background-color: black;
    border-radius: 1rem;
    display: flex;
}



.image {
    background-color: lightskyblue;
    width: 10rem;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.btn {
    width: 5rem;
    border-radius: 1rem;
    display: flex;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;

}

.btns {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.label {
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

label {
    background-color: black;
}

.label>input {
    width: 100px;
    color: white;
}